@page "/_/j/{secret:guid}/judge"

@using GroundZero.Web.Client.Layout
@using SqlSugar

@layout LandingLayout
@rendermode InteractiveServer


@if (IsPending)
{
    <HxSpinner/>
}
else if (Hackathon is null)
{
    <h1>Hackathon not found :(</h1>
    <a href="/home/organizer/hackathons/new">Create your own</a>
    <span>hackathon instead?</span>
}
else if (JudgeJudge.NextTeamId is null)
{
    <p>No team to judge yet! Hang around for a while?</p>
}
else
{
    <div class="vstack">
        <HxCard>
            <BodyTemplate>
                @JudgeJudge.NextTeam!.Name
                <br/>
                @JudgeJudge.NextTeam!.Description

                @if (JudgeJudge.PreviousTeamId is null)
                {
                    <HxButton @onclick="BeginContinue" Text="Continue"></HxButton>
                }
                else
                {
                    <HxButton @onclick="() => Vote(false)" Text="Current better!"></HxButton>
                }
            </BodyTemplate>
        </HxCard>

        <HxCard>
            <BodyTemplate>
                <HxButton @onclick="() => JudgeJudge.PreviousTeamId is null ? BeginSkip() : VoteSkip()"
                          Text="Skip"></HxButton>
            </BodyTemplate>
        </HxCard>

        @if (JudgeJudge.PreviousTeamId is not null)
        {
            <HxCard>
                <BodyTemplate>
                    @JudgeJudge.PreviousTeam!.Name
                    <br/>
                    @JudgeJudge.PreviousTeam!.Description
                    <HxButton @onclick="() => Vote(true)" Text="Previous better!"></HxButton>
                </BodyTemplate>
            </HxCard>
        }
    </div>
}
