@page "/home/organizer/hackathons/{id:guid}/judges"

@using GroundZero.Web.Entities
@using Microsoft.AspNetCore.Authorization
@using SqlSugar

@attribute [Authorize]
@attribute [StreamRendering]

@inject NavigationManager Navigation
@inject ISqlSugarClient Db

<NavContainer HackathonId="Id" HackathonName="@Hackathon?.Name">
    <div class="d-flex justify-content-between align-items-center">
        <strong>Judges</strong>
        <a class="btn btn-primary" href=@($"/home/organizer/hackathons/{Id}/judges/create")>Add</a>
    </div>
        
    <div class="mt-2">
        @if (Hackathon?.Judges.Count == 0)
        {
            <span>Nothing here yet, add a judge!</span>
        }
    </div>
</NavContainer>

@code {

    [Parameter]
    public Guid Id { get; set; }

    private Hackathon? Hackathon { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hackathon = await Db.Queryable<Hackathon>()
            .Includes(h => h.Judges)
            .SingleAsync(h => h.Id == Id);
        
        if (Hackathon is null)
        {
            Navigation.NavigateTo("home");
            return;
        }
    }

}
